.hero-wrap {
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-wrap .text {
    width: 100%;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.mouse {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 120px;
    z-index: 2;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

.slider-text .subheading {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: $text-color-light;
    letter-spacing: 4px;
}

.slider-text h1 {
    font-size: 60px;
    font-weight: 800;
}

@media (max-width: 767.98px) {
    .slider-text h1 {
        font-size: 40px;
    }
}

.slider-text h2 {
    font-weight: 800;
}

.slider-text h2 span {
    color: $text-color-light;
    text-decoration: underline;
}

.slider-text p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}

.slider-text p strong {
    font-weight: 700;
}

.slider-text p strong a {
    color: $secondary-color-light;
}

.slider-text .breadcrumbs {
    font-size: 16px;
    margin-bottom: 20px;
    z-index: 99;
    font-weight: 600;
    text-transform: uppercase;
}

.slider-text .breadcrumbs span {
    color: $secondary-color-light;
}

.slider-text .breadcrumbs span i {
    color: $secondary-color-light;
}

.slider-text .breadcrumbs span a {
    color: $text-color-light;
}

.slider-text .breadcrumbs span a:hover,
.slider-text .breadcrumbs span a:focus {
    color: $text-color-light;
}

.slider-text .breadcrumbs span a:hover i,
.slider-text .breadcrumbs span a:focus i {
    color: $text-color-light;
}

.slider-text .bread {
    font-weight: 700;
    color: $secondary-color-light;
    font-size: 60px;
}