#resume-section {
    padding-bottom: 0 !important;
}

.resume {
    padding: 7em 0;
    position: relative;
}

//Tablet
@media (max-width: 767.98px) {
    .resume {
        padding: 6em 0;
    }
}

.left-col {
    position: relative;
    margin-bottom: calc(100vh - 200px);
}

.right-col {
    overflow-y: auto;
}

#navi {
    top: 180px;
    position: sticky;
    margin: 0;

    ul {
        margin: 0;
        padding: 0;

        li {
            font-size: x-large;
            font-weight: 700;
            list-style: none;
            margin-bottom: 10px;
        }
    }
}

#dark .resume-link{
    color: $secondary-color-dark;
}

.resume-link {
    margin-left: 20px;
    position: relative;
}

.disable{
    color: $secondary-color-light;
}

.resume-link:after {
    position: absolute;
    top: 50%;
    left: -24px;
    width: 20px;
    height: 2px;
    content: '';
    transform: translateY(-50%);
    background: $color-primary;
}

.page {
    width: 100%;
    margin-bottom: 7em;

    .heading {
        font-weight: 800;
        font-size: 30px;
        margin-bottom: 30px;
        color: $color-primary;
    }
}

.page.four {
    margin-bottom: 0;
}

.resume-wrap {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;

    .icon {
        width: 50px;
        height: 50px;
        background: $color-primary;
        border-radius: 50%;

        span {
            color: $primary-color-light;
            font-size: 28px;
        }

        span:hover {
            color: $secondary-color-light;
            font-size: 30px;
        }
    }

    .text {
        width: calc(100% - 50px);
    }

    .date {
        font-weight: 700;
        font-size: 20px;
        color: $color-primary;
    }

    h2 {
        font-size: 24px;
        font-weight: 700;
    }

    .gpa,
    .position {
        font-size: 18px;
        font-weight: 700;
    }

}

.skillCard {
    background-color: $primary-color-light;
    border-radius: 0.3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

// .progress-content {
//     width: 100% !important;
//     height: 100% !important;
//     border-radius: 50% !important;
//     display: flex !important;
//     align-items: center;
//     justify-content: center;
// }