.root{
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set the container to full height of viewport */
  position: relative;
}

main {
  height: 90vh; /* Set height of main */
  flex: 1; /* Set the main section to take up remaining space */
}