.app {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;  
  background-color: $background-color-light;
  color: $secondary-color-light;
}

#dark .app{
  background-color: $background-color-dark !important;
  color: $secondary-color-dark !important;
}
