.my-section {
    padding: 7em 0;
    position: relative;
}

@media (max-width: 767.98px) {
    .my-section {
        padding: 6em 0;
    }
}

.my-footer {
    font-size: 16px;
    background: $color-black;
    padding: 7em 0;
    z-index: 0;
    color: $foot-color;
    text-align: left;

    & p {
        color: $color-grey-1;
    }

    & a {
        color: $color-grey-1;
    }

    & a:hover {
        color: $color-white;
    }

    &__container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    @media (min-width: 576px) {
        &__container {
            max-width: 540px;
        }
    }

    @media (min-width: 768px) {
        &__container {
            max-width: 720px;
        }
    }

    @media (min-width: 992px) {
        &__container {
            max-width: 960px;
        }
    }

    @media (min-width: 1200px) {
        &__container {
            max-width: 1140px;
        }
    }
}

.my-footer-widget {
    & h2 {
        font-weight: normal;
        color: $color-white;
        margin-bottom: 40px;
        font-size: 22px;
        font-weight: 600;

    }

    & ul li {
        margin-bottom: 10px;

        & a {
            color: $color-grey-1;

            & span {
                color: $color-grey-1;
            }
        }
    }
}

.list-icon-social {
    & li {
        list-style: none;
        margin: 0 10px 0 0;
        display: inline-block;

        & a {
            height: 50px;
            width: 50px;
            display: block;
            float: left;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            position: relative;

            & .twitter-icon{
                color: $twitter-icon;
            }

            & .facebook-icon{
                color: $facebook-icon;
            }

            & .linkedin-icon{
                color: $linkedin-icon;
            }

            & .instagram-icon{
                color: $instagram-icon;
            }

            & span {
                position: absolute;
                font-size: 26px;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            & :hover {
                color: $color-white;
            }
        }


    }
}

.favourite-icon{
    color: $favourite-icon;
}

.footer-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000000;
}


a:link {
    text-decoration: none;
}

.block-23 ul {
    padding: 0;
}

.block-23 ul li,
.block-23 ul li>a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
}

.block-23 ul li span {
    color: $color-grey-1;
}

.block-23 ul li .icon,
.block-23 ul li .text {
    display: table-cell;
    vertical-align: top;
}

.block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: $color-white;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}